.gift-card-active{
    color: green;
    font-weight: bold;
}
.gift-card-inactive{
    color: red;
    font-weight: bold;
}
.add-festival-btnn{
    background: #630914;
padding: 10px 15px;
color: #fff;
font-weight: 700;
font-size: 14px;
border: none;
border-radius: 5px;
}
.add{
    background: #630914;
    padding: 7px 15px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}
.buy-user{
    background: #d5a631;
    border: navajowhite;
    color: white;
    border: navajowhite;
    border-radius: 3px;
    padding: 1px 8px;
    margin-left: 5px;
}