.card-div{
    width: 100%;
    height: auto;
    margin: 0px auto !important;
}
.coupons{
    color:maroon;
    font-size: 24px;
    font-weight: bold !important;
}

.my-input{
    padding: 10px;
    font-size: 16px;
    color:black;
    border: 1px solid black;
    margin-bottom: 13px;

}
.minimum{
    font-size: 18px;
    margin-bottom: 10px;
}
.add-button{
    background-color: maroon;
    padding: 10px;
    font-size: 16px;
    color:white;
    border: none;
    width: 30%;
    border-radius: 4px;
}

// 


.view-btnn{
    background: #d5a631;
    border: navajowhite;
    color: white;
    border: navajowhite;
    border-radius: 3px;
    padding: 1px 8px;
}
.view-btnn:hover{
    background: #630914;
}
.add-festival-btnn{
    background: #630914;
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}
.submit-bttnn{
    background: #630914;
    padding: 8px 15px;
    border: none;
    color: white;
    border-radius: 5px;
}
.modal-body{
    padding: 30px;
}
.loop-data{
    font-weight: bold;
}

.add-btn{
    width: 82px;
    color: #FFFFFF;
    background-color: #630914;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    border: none;
    padding: 9px 0px;
}
.dropdown{
    margin-left: 46px !important;
}
.button-coupon{
    background-color:#630914;
}
.all-users-div{
    width: 90%;
    border: 1px solid black;
    height: 400px;
    margin: 0px auto !important;
}
.back{
    background-color:#630914;
}

.modal-dialog{
    max-width:50%
}

.my-amount{
    text-align: center !important;
}













