.btn-subm{
    min-width: 101px;
    background: #630914;
    color: #fff !important;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 6px !important;
    transition: all 0.2s ease;
    border: none !important;
    border-radius: 3px !important;
  }
//   .btn-subm:hover{
//     box-shadow: 0 50px #fff inset !important;
//     color: #630914 !important;
//   }