<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>SubCategory Name</th>
                            <th>Product Name</th>
                            <th>Image</th>
                            <th>VA%</th>
                            <th>Weight</th>
                            <th>Size</th>
                            <th>Stone Weight</th>
                            <th>Description</th>
                            <th>Total Amount</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Rings</td>
                            <td>Diamond Rings</td>
                            <td>Couple Ring</td>
                            <td class="my-td"><img class="img" src="../../../../assets/Gold Box Admin Panel (2)/Ellipse 20.png" alt=""></td>
                            <td>15%</td>
                            <td>6g</td>
                            <td>10</td>
                            <td>2g</td>
                            <td>Best Quality</td>
                            <td>₹ 52460.00</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>





