.info-card{
    width: 50%;
    margin: 0px auto;
    border: 1px solid rgba(145, 158, 171, 0.32);
    padding: 30px;
}
.user-details-head{
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0px;
    text-align: center;
}