<!-- 
<section>
  
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                  <div class="page-header">
                    <div class="page-title">
                      <h4>Coupon Users Details</h4>
                      <h6>Manage your coupon users details</h6>
                    </div>
                    <div class="search-set">
                      <div class="search-input">
                        <a class="btn btn-searchset">
                          <img src="assets/img/icons/search-white.svg" alt="img"/></a>
                        <div class="dataTables_filter">
                          <label>
                            <input
                              [(ngModel)]="searchText"
                              type="search"
                              class="form-control"
                              placeholder="Search..."
                            />
                          </label>
                        </div>
                      </div>
                    </div>
                   
                  </div>
                  <div class="table-top">
                  </div>
                
                <div class="card-body">
  
                    <div class="table-responsive">
                        <table  class="table datanew table-striped">
                            <thead class="text-center">
                                <tr>
                                    <th>S.No</th>
                                    <th>User Name</th>
                                    <th>Mobile Number</th>
                                    <td>Coupon</td>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let table of userData|searchFilter:searchText| paginate: {itemsPerPage: 10, currentPage: page, totalItems: userData.total };let i=index">
                                  <td>{{i+1}}</td>
                                  <td>{{table.username}}</td>
                                  <td>{{table.mobilenumber}}</td>
                                  <td>{{singlecoupon}}</td>
                                </tr>
                                <tr *ngIf="(userData|searchFilter:searchText).length===0" class="text-center">
                                  <td colspan="12">
                                      <h5 class="no-record">No records found</h5>
                                  </td>
                              </tr>
                            </tbody>
                        </table>
                        <div class="mt-4 mb-4">
                          <pagination-controls (pageChange)="pageChanged($event)" *ngIf="(userData|searchFilter:searchText).length!=0" (pageBoundsCorrection)="pageChanged($event)" [maxSize]="5"
                          [directionLinks]='true' [responsive]="true" previousLabel="Prev" nextLabel="Next"
                          screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                        </pagination-controls>  
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section> -->