<section>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                  <div class="page-header">
                    
                    <div class="page-title">
                      <h4>All Transactions</h4>

                      <h6>Manage your Transations</h6>

                    </div>
                    <div class="page-btn">
                      <button  class="btn btn-added" (click)="exportexcel()">Export to Excel</button>
                  </div>
                  </div>
                  <div class="table-top">
                    <div class="search-set">
                      <div class="search-path" *ngIf="fristdata">
                          <a (click)="showFilter = !showFilter" [class.setclose]="showFilter === true" class="btn btn-filter"
                              id="filter_search">
                          <img
                              *ngIf="showFilter === false"
                              src="assets/img/icons/filter.svg"
                              alt="img"/>
                          <span>
                              <img *ngIf="showFilter === true" src="assets/img/icons/closes.svg" alt="img"/>
                          </span>
                          </a>
                  </div>
                      <div class="search-input">
                          <a class="btn btn-searchset">
                              <img src="assets/img/icons/search-white.svg" alt="img"/>
                          </a>
                      <div class="dataTables_filter">
                          <label>
                              <input [(ngModel)]="searchText" type="search" class="form-control" placeholder="Search..."/>
                          </label>
                      </div>
                  </div>
                  </div>
                  </div>
<!-- Filter -->
<section>
  <div class="card mb-0 border-0" [ngClass]="{'show-sub-menu': showFilter === true,'hide-sub-menu':showFilter === false}">
    <div class="card-body pb-0">
      <form [formGroup]="filterform" (ngSubmit)="filtertransactions()">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-12">
          <mat-form-field class="w-100">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input  [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="Start date">
              <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input> 
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <!-- <mat-form-field class="example-full-width">
            <input matInput type="number" formControlName="transactionId" placeholder="Transaction ID" value="">
          </mat-form-field> -->

          <mat-form-field>
            <mat-select [(ngModel)]="selectedValue" formControlName="txn_type" class="no-padding" placeholder="Select TXN type">
              <mat-option *ngFor="let data of food" [value]="data.value">{{data.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>         
        </div>
        <!-- <div class="col-lg-3 col-sm-6 col-12">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedValue1" formControlName="userid" placeholder="Select user">
              <mat-option *ngFor="let data of usersdata" [value]="data.id">{{data.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
        <div class="col-lg-3 col-sm-6 col-12">

          <mat-form-field>
            <mat-select [(ngModel)]="selectedtrtype" formControlName="trntype" placeholder="Select type">
              <mat-option *ngFor="let datas of trntypes" [value]="datas.id">{{datas.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <mat-form-field class="example-full-width">
            <mat-label>Mobile number</mat-label>
            <input matInput type="number" formControlName="mobile" placeholder="Mobile number" value="">
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <mat-form-field class="example-full-width">
            <mat-label>Transaction ID</mat-label>
            <input matInput type="number" formControlName="transactionId" placeholder="Transaction ID" value="">
          </mat-form-field>
       
        </div>
        <div class="col-lg-2 col-sm-6 col-12 ms-auto d-flex">
          
          <div class="form-group">
            <button type="submit" class="btn btn-filters ms-auto"
              ><img src="assets/img/icons/search-whites.svg" alt="img"
            /></button>
          </div>
          <div class="form-group ml-2">
            <button type="reset" (click)="reset()" class="btn btn-filters ms-auto bg-gold"
            > <i class="feather icon-refresh-ccw " data-bs-toggle="tooltip" title="feather icon-refresh-ccw"></i></button>
          </div>

        </div>
      </div>
      </form>
    </div>
  </div>
</section>

  <div class="card-body p-0">
    <div class="table-responsive">
        <table  class="table datanew table-striped" id="datatableexample">
          <thead>
            <tr *ngIf="transactionslength">
              <th>No of Transactions </th>
              <td>
                : {{transactionslength}}
              </td>
            </tr>
            <tr *ngIf="transactionstrntype">
              <th>Transaction Type :</th>
              <td>
                {{transactionstrntype}}
              </td>
            </tr>
            <tr *ngIf="transactionsamount">
              <th>Total Amount  :</th>
              <td>
                {{transactionsamount|currency}}
              </td>
            </tr>
            <tr *ngIf="transactionsgrams">
              <th>Total Grams :</th>
              <td>
                 {{transactionsgrams| number:'1.3-3'}}
              </td>
            </tr>
          </thead>
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Transaction ID</th>
                    <th>Mobile</th>
                    <th>Price/Gram</th>
                    <th>Amount </th>
                    <th>Gst</th>
                    <td>Total Amount</td>
                    <td>Grams</td>
                    <th>TXN type</th>
                    <td>Description</td>
                    <td>Type</td>
                    <td>Reciept</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let table of tableData.message|search:searchText| paginate: {itemsPerPage:tablesize, currentPage: page, totalItems: tableData.total };let i=index">
                <td>{{i+1}}</td>
                <td>{{table.username}}</td>
                <td>{{table.created_at | date}}</td>
                <td>{{table.id}}</td>
                <td>{{table.mobilenumber}}</td>
                <td>{{table.gold_price_per_gram|currency}}</td>
                <td>{{table.amount|currency}}</td>
                <td>{{table.gst|currency}}</td>
                <td *ngIf="table.total_amount">
                  {{ table.total_amount| currency }}
                </td>              
                <td *ngIf="!table.total_amount">
                  {{ table.amount| currency }}
                </td>     
                <td>{{table.grams}}</td>
                <td>{{table.txn_type}}</td>
                <td>{{table.description}}</td>
                <td>{{table.type}}</td>
                <td>
                  <button class="btn-sm btn-view" (click)="reciept(table.id)"><i class="fas fa-download"></i> Download</button></td>
                </tr>
              
                <tr *ngIf="(tableData.message|search:searchText).length===0" class="text-center">
                  <td colspan="12">
                      <h5 class="no-record">No records found</h5>
                  </td>
              </tr>
            </tbody>

           
        </table>
        <div class="mt-4 mb-4 d-md-flex justify-content-between" >
          <pagination-controls  (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)" [maxSize]="5"
            [directionLinks]='true' [responsive]="true" previousLabel="Prev" nextLabel="Next"
            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
          </pagination-controls> 
          <form [formGroup]="form" >
            <mat-checkbox  formControlName="pepperoni">Show All</mat-checkbox>
          </form>
      </div>
    </div>
</div> 
</div>
</div>
</div>
</div>
</section>