<section>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="page-header">
                        <div class="page-title">
                            <h4>FMS Users</h4>
                            <h6>Manage your FMS Users</h6>
                        </div>
                        <div class="page-btn">
                            <button (click)="refresh()" class="btn btn-added" data-bs-toggle="modal" data-bs-target="#addcategory">
                                <img src="assets/img/icons/plus.svg" class="me-2" alt="img" />Add FMS User</button>
                        </div>
                </div>
    
                    <div class="table-top">
                        <div class="search-set">
                        <div class="search-input">
                            <a class="btn btn-searchset"> <img src="assets/img/icons/search-white.svg" alt="img"/> </a>
                            <div class="dataTables_filter">
                            <label>
                                <input [(ngModel)]="searchText" type="search" class="form-control" placeholder="Search..."/>
                            </label>
                            </div>
                        </div>
                        </div>
                    </div>
    
                <div class="card-body">
    
                    <div class="table-responsive table-striped">
                        <table  class="table datanew">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let table of tableData|searchFilter:searchText| paginate: { itemsPerPage: 10, currentPage: page, totalItems: tableData.total }">
                                    <td>{{table.name}}</td>
                                    <td>{{table.mobile}}</td>
                                    <td>{{table.email}}</td>
                                    <td>{{table.password}}</td>
                                    <td>{{table.rolename}}</td>
                                    <td>
                                        <button type="button" class="btn-sm btn-edit mr-2" data-bs-toggle="modal" data-bs-target="#editcategory" (click)="singledata(table.id)">
                                            Edit
                                        </button>
    
                                        <button type="button" class="mr-2 btn-danger" (click)="updatecategorystatus(table)"><i _ngcontent-dmq-c275="" class="fas fa-trash-alt" aria-hidden="true"></i></button>
                                       
                                    </td>
                                </tr>
    
                                <tr *ngIf="(tableData|searchFilter:searchText).length===0" class="text-center">
                                    <td colspan="12">
                                        <h5 class="no-record">No records found</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
    
                        <div class="mt-4 mb-4">
                            <pagination-controls *ngIf="(tableData|searchFilter:searchText).length!=0" (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)" [maxSize]="5"
                                [directionLinks]='true' [responsive]="true" previousLabel="Prev" nextLabel="Next"
                                screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                            </pagination-controls>  
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>
    
    <!--Add category-->
    <section class="modalbox-section1">
        <div class="modal fade" id="addcategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <form [formGroup]="postdata"  class="p-4" (ngSubmit)="onSubmit()">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add User</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="refresh()"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                          <div class="mt-2">
                            <label class="enter-label mb-2">Full Name</label>
                            <input class="enter-input" pattern="^[a-zA-Z]+$" type="text" formControlName="name" placeholder="Enter full name">
                            <div *ngIf="postdata.get('name')?.hasError('pattern') && postdata.get('name')?.touched" class="error-message">
                              Please enter only alphabets.
                            </div>
                          </div>
                          <div class="mt-2">
                            <label class="enter-label mb-2">Phone Number</label>
                            <input class="enter-input" type="number" formControlName="mobile"  placeholder="Enter phone number">
                            <div *ngIf="postdata.get('mobile')?.hasError('pattern') && postdata.get('mobile')?.touched" class="error-message">
                                Please enter exactly 10 numbers.
                              </div>
                          </div>
                          <div class="mt-2">
                            <label class="enter-label mb-2">Email</label>
                            <input class="enter-input" type="email" formControlName="email"   placeholder="Enter email">
                            <div *ngIf="postdata.get('email')?.hasError('email') && postdata.get('email')?.touched" class="error-message">
                              Please enter a valid email address.
                            </div>
                          </div>
                          <div class="mt-2">
                            <label class="enter-label mb-2">Password</label>
                            <input class="enter-input" type="text" formControlName="password"  placeholder="Enter password">
                            <div *ngIf="postdata.get('password')?.hasError('minlength') && postdata.get('password')?.touched" class="error-message">
                              Password must be at least 8 characters long.
                            </div>
                          </div>
                          <div class="mt-2">
                            <label class="enter-label">Select role</label>
                            <select class="enter-input" formControlName="role">
                              <option [ngValue]="null" selected>Select role</option>
                              <option *ngFor="let data of adminslists" [ngValue]="data.id">{{ data.title }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      
                    <div class="modal-footer">
                        <button type="submit" class="add-btn" >Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </section>
    
    
    
    <!-- Edit Category-->
    <section class="modalbox-section1">
    <div class="modal fade" id="editcategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <form [formGroup]="editform"  class="p-4" (ngSubmit)="editSubmit()">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit User Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="refresh()"></button>
                </div>
                <div class="modal-body">
                    <div>
                      <div class="mt-2">
                        <label class="enter-label mb-2">Full Name</label>
                        <input class="enter-input" pattern="^[a-zA-Z]+$" type="text" formControlName="name" placeholder="Enter full name">
                        <div *ngIf="editform.get('name')?.hasError('pattern') && editform.get('name')?.touched" class="error-message">
                          Please enter only alphabets.
                        </div>
                      </div>
                      <div class="mt-2">
                        <label class="enter-label mb-2">Phone Number</label>
                        <input class="enter-input" type="number" formControlName="mobile"   placeholder="Enter phone number">
                        <div *ngIf="editform.get('mobile')?.hasError('pattern') && editform.get('mobile')?.touched" class="error-message">
                            Please enter exactly 10 numbers.
                          </div>
                      </div>
                      <div class="mt-2">
                        <label class="enter-label mb-2">Email</label>
                        <input class="enter-input" type="email" formControlName="email"  placeholder="Enter email">
                        <div *ngIf="editform.get('email')?.hasError('email') && editform.get('email')?.touched" class="error-message">
                          Please enter a valid email address.
                        </div>
                      </div>
                      <div class="mt-2">
                        <label class="enter-label mb-2">Password</label>
                        <input class="enter-input" type="text" formControlName="password"  placeholder="Enter password">
                        <div *ngIf="editform.get('password')?.hasError('minlength') && editform.get('password')?.touched" class="error-message">
                          Password must be at least 8 characters long.
                        </div>
                      </div>
                      <div class="mt-2">
                        <label class="enter-label">Select role</label>
                        <select class="enter-input" formControlName="role">
                          <option [ngValue]="null" selected>Select role</option>
                          <option *ngFor="let data of adminslists" [ngValue]="data.id">{{ data.title }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  
                <div class="modal-footer">
                    <button type="submit" class="add-btn" >Update</button>
                </div>
            </div>
        </form>
        </div>
    </div>
    </section>