


  <ul class="nav nav-pills mb-3 justify-content-center mt-4 mb-4" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">PROFILE</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">TRANSACTIONS</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">LOGIN LOGS</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact1" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">ADD GOLD</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <!-- prifil page -->
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="profile-card text-center">
                     <div class="avatar">
                      <img src="../../../../assets/logo-user.png" *ngIf="!infouserData.message[0].avatar">
                      <img *ngIf="infouserData.message[0].avatar" src="{{infouserData.message[0].avatar}}">
                     </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-4">
                        <p>Customer Id</p>
                      </div>
                      <div class="col-1">
                        <p>:</p>
                      </div>
                      <div class="col-6">
                        <p class="fw-bold">{{infouserData.message[0].customer_id}}</p>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-4">
                        <p>Name</p>
                      </div>
                      <div class="col-1">
                        <p>:</p>
                      </div>
                      <div class="col-6">
                        <p class="fw-bold">{{infouserData.message[0].name}}</p>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-4">
                        <p>Email</p>
                      </div>
                      <div class="col-1">
                        <p>:</p>
                      </div>
                      <div class="col-6">
                        <p class="fw-bold">{{infouserData.message[0].email}}</p>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-4">
                        <p>Mobile</p>
                      </div>
                      <div class="col-1">
                        <p>:</p>
                      </div>
                      <div class="col-6">
                        <p class="fw-bold">{{infouserData.message[0].mobile}}</p>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-4">
                        <p>Wallet grams</p>
                      </div>
                      <div class="col-1">
                        <p>:</p>
                      </div>
                      <div class="col-6">
                        <p class="fw-bold">{{infouserData.message[0].walletgrams| number:'1.3-3'}}</p>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-4">
                        <p>Wallet amount</p>
                      </div>
                      <div class="col-1">
                        <p>:</p>
                      </div>
                      <div class="col-6">
                        <p class="fw-bold">{{infouserData.message[0].walletamount|currency}}</p>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-4">
                        <p>Last Login</p>
                      </div>
                      <div class="col-1">
                        <p>:</p>
                      </div>
                      <div class="col-6">
                        <p class="fw-bold">{{infouserData.message[0].last_login|date:"MMM dd, yyyy 'at' hh:mm a"}}</p>
                      </div>
                    </div>
            
                    <div class="row mb-2">
                      <div class="col-4">
                        <p>Referral Code</p>
                      </div>
                      <div class="col-1">
                        <p>:</p>
                      </div>
                      <div class="col-6">
                        <p class="fw-bold">{{infouserData.message[0].referral_code
                        }}</p>
                      </div>
                    </div>
            
                    <div class="row mb-2">
                      <div class="col-4">
                        <p>Registered Via</p>
                      </div>
                      <div class="col-1">
                        <p>:</p>
                      </div>
                      <div class="col-6">
                        <p class="fw-bold">{{infouserData.message[0].via_registration}}</p>
                      </div>
                     
            
                    </div>
                    <div class="row mb-2">
                      <div class="col-4">
                        <p>Status</p>
                      </div>
                      <div class="col-1">
                        <p>:</p>
                      </div>
                      <div class="col-6">
                        <div>
                          <p *ngIf="infouserData.message[0].status===1" class="fw-bold">Status verified</p>
                          <p *ngIf="infouserData.message[0].status===0" class="fw-bold">Status not verified</p>
                          <p *ngIf="infouserData.message[0].status===2" class="fw-bold">Status Terminated</p>
                      </div>
                      </div>
                    </div>
                   
                   </div>
            </div>
        </div>
        <!-- end profile -->
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <app-transactions></app-transactions>
    </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <app-user-logs></app-user-logs>
    </div>
    <div class="tab-pane fade" id="pills-contact1" role="tabpanel" aria-labelledby="pills-contact-tab">
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-md-6">
            <div class="card">
              <form [formGroup]="buyform"  class="p-2" (ngSubmit)="buygold()">
                <div class="modal-body">
                  <h2 class="text-center">Add gold</h2>
                  <div>
                    <label class="upload-label">Amount</label>
                    <input class="file-input" type="number" (input)="onAmountChange($event)" formControlName="amount"  placeholder=" Enter Amount">
                    <div *ngIf="submitted && f['amount'].errors" class="invalid-feedback">
                      <div *ngIf="f['amount'].errors['required']">Amount is required</div>
                      <div *ngIf="f['amount'].errors['min']">Enter Min Rs:100/-</div>
                  </div>
                   </div>
                    <div>
                        <label class="upload-label">Grams</label>  
                        <input class="enter-input"  type="number" (input)="onGramsChange($event)" formControlName="grams" placeholder="Enter Grams">
                        <div *ngIf="submitted && f['grams'].errors" class="invalid-feedback">
                          <div *ngIf="f['grams'].errors['required']">Grams is required</div>
                          <div *ngIf="f['grams'].errors['max']">You have exceeded the max limit of 30 grams per transaction</div>
                      </div>
                    </div>
                   
                    <p class="mt-2 mb-2">Live Price(24k): <b> {{livesellprice24|currency}}/1gram</b></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" (ngSubmit)="buygold()">ADD</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    </div>
  </div>

  