<section>
  
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                  <div class="page-header">
                    
                    <div class="page-title">
                      <h4>User OTP's</h4>
                       <h6>Manage User OTP's</h6>
                    </div>
                    <div class="search-set">
                      <div class="search-input">
                        <a class="btn btn-searchset"
                          ><img src="assets/img/icons/search-white.svg" alt="img"
                        /></a>
                        <div class="dataTables_filter">
                          <label>
                            <input
                              [(ngModel)]="searchText"
                              
                              type="search"
                              class="form-control"
                              placeholder="Search..."
                            />
                          </label>
                        </div>
                      </div>
                    </div>
                   
                  </div>

                <div class="card-body">
  
                    <div class="table-responsive">
                        <table  class="table datanew table-striped">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Date</th>
                                    <th>Phone</th>
                                    <th>OTP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let table of tableData.message|searchFilter:searchText| paginate: {itemsPerPage: 10, currentPage: page, totalItems: tableData.total };let i=index">
                                  <td>{{i+1}}</td>
                                  <td>{{table.created_at | date :'d/MM/yyyy'}}</td>
                                  <td>{{table.phone}}</td>
                                  <td>{{table.code}}</td>
                                </tr>
                                <tr *ngIf="tableData.length === 0">
                                    <td colspan="12">
                                      <h5 class="no-record">No matching records found</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="mt-4 mb-4">
                          <pagination-controls (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)" [maxSize]="5"
                          [directionLinks]='true' [responsive]="true" previousLabel="Prev" nextLabel="Next"
                          screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                        </pagination-controls>  
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
